:root {
  --size-1: 4px;
  --size-2: 6px;
  --size-3: 8px;
  --size-4: 12px;
  --size-5: 16px;
  --size-6: 20px;
  --size-7: 24px;
  --size-8: 28px;
  --size-9: 32px;
  --size-10: 36px;
  --size-11: 40px;
  --size-12: 44px;
  --size-13: 48px;
  --size-14: 56px;
  --size-15: 64px;
  --size-16: 72px;
  --size-17: 80px;

  --icon-size-xs: var(--size-4);
  --icon-size-sm: var(--size-5);
  --icon-size-md: var(--size-6);
  --icon-size-lg: var(--size-7);

  --notification-dot-sm: var(--size-2);
  --notification-badge-size: var(--size-5);
  --checkbox-size: var(--size-6);
  --radio-size: var(--size-6);
  --switch-height: var(--size-6);
  --switch-width: var(--size-11);
  --height-badge: var(--size-7);
  --height-progress: var(--size-3);
  --size-avatar-sm: var(--size-9);
  --size-avatar-md: var(--size-11);
  --height-pagination-item: var(--size-9);

  --height-button-sm: var(--size-8);
  --height-input-sm: var(--size-8);
  --height-select-sm: var(--size-8);
  --height-search-sm: var(--size-8);
  --height-tag: var(--size-8);
  --height-selection-option: var(--size-8);
  --height-selection-block: var(--size-9);
  --height-chips-tab: var(--size-10);
  --height-tab-line: var(--size-11);
  --height-tab-vertical: var(--size-11);
  --height-menu-item: var(--size-11);
  --height-list-item: var(--size-11);
  --height-list-item-single-line: var(--size-13);
  --height-list-item-double-line: var(--size-14);
  --height-list-item-triple-line: var(--size-17);
  --height-list-heading: var(--size-11);
  --height-tree-item: var(--size-11);
  --height-button: var(--size-11);
  --size-icon-button: var(--size-11);
  --height-icon-text-button: var(--size-11);
  --height-dropdown-control: var(--size-11);
  --width-split-button-trigger: var(--size-5);
  --height-select: var(--size-11);
  --height-search: var(--size-11);
  --height-input: var(--size-11);
  --min-height-textarea: var(--size-17);
  --height-alert: var(--size-11);
  --min-height-alert: var(--height-alert);
  --height-snackbar: var(--size-13);
  --height-table-header: var(--size-11);
  --height-table-row: var(--size-13);
  --height-titlebar-sm: var(--size-11);
  --height-titlebar-md: var(--size-14);
  --height-titlebar-lg: var(--size-15);
  --height-titlebar-xl: var(--size-16);
  --height-dialog-header: var(--size-14);
  --height-modal-header: var(--size-14);
  --height-modal-footer: var(--size-17);

  --width-modal-sm: 480px;
  --width-modal-md: 640px;
  --width-modal-lg: 800px;
  --width-dialog: 400px;
}
