:root {
  --space-0: 0px;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 24px;
  --space-7: 32px;

  --gap-list-item: var(--space-1);
  --gap-selection-option: var(--space-1);
  --gap-tabs-list: var(--space-1);
  --gap-menu-item: var(--space-1);
  --gap-nav-item: var(--space-1);
  --gap-button-icon-label: var(--space-3);
  --gap-button-group: var(--space-3);
  --gap-menu-item-content: var(--space-3);
  --gap-breadcrumb-item: var(--space-3);
  --gap-subtab-item: var(--space-3);
  --gap-alert-content: var(--space-3);
  --gap-field-label: var(--space-3);
  --gap-form-field: var(--space-5);
  --gap-choice-label: var(--space-3);
  --gap-titlebar-brand: var(--space-4);
  --gap-cross-group-control: var(--space-5);
  --gap-menu-section: var(--space-6);
  --gap-page-section: var(--space-7);

  --padding-segmented-control: var(--space-1);
  --padding-popup-menu: var(--space-2);
  --padding-list-card: var(--space-2);
  --padding-tooltip: var(--space-3);
  --padding-alert: var(--space-3);
  --padding-alert-left: var(--space-3);
  --padding-alert-right: var(--space-4);
  --padding-selection-option: var(--space-3);
  --padding-tab-x: var(--space-4);
  --padding-tab-panel: var(--space-5);
  --padding-titlebar-leading: var(--space-6);
  --padding-titlebar-trailing-s: var(--space-0);
  --padding-titlebar-trailing-m: var(--space-3);
  --padding-titlebar-trailing-l: var(--space-4);
  --padding-titlebar-trailing-xl: var(--space-5);
  --padding-button-sm-x: var(--space-3);
  --padding-split-button-main-x: var(--space-3);
  --padding-split-button-trigger: var(--space-0);
  --padding-list: var(--space-3);
  --padding-tag-x: var(--space-4);
  --padding-select-x: var(--space-4);
  --padding-textarea-x: var(--space-4);
  --padding-textarea-y: var(--space-3);
  --padding-search-x: var(--space-4);
  --padding-menu-item-x: var(--space-4);
  --padding-button-x: var(--space-5);
  --padding-card: var(--space-6);
  --padding-table: var(--space-6);
  --padding-dialog: var(--space-6);
  --padding-dialog-content: var(--space-6);
  --padding-modal-content-x: var(--space-6);
  --padding-modal-content-y: var(--space-0);
  --padding-modal-header-top: var(--space-3);
  --padding-modal-header-x: var(--space-6);
  --padding-modal-footer-x: var(--space-6);
}
